* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 233, 233);
}

.wrapper {
  width: 550px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 165px;
  color: #fff;
  background-color: #00ba40;
  text-transform: uppercase;
  padding-top: 20px;
}

.top h1 {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 25px;
}

.top p {
  font-weight: 200;
  font-size: 20px;
}

.bottom {
  display: flex;
  padding: 55px 20px 35px;
  font-weight: 400;
  flex-direction: column;
}

.btn {
  margin: 20px auto;
  padding: 20px 10px;
  width: 60%;
  font-size: 18px;
  border-radius: 8px;
  color: #fff;
  background-color: #00ba40;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(0, 168, 59);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
}

input,
select {
  margin-bottom: 25px;
  padding: 8px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
}

.end-amount p {
  font-size: 22px;
  font-weight: 400;
}

.loading,
.error {
  font-size: 18px;
}

.loading,
.end-amount,
.error {
  margin: 15px auto;
}
